$desktop-widths: 1200px
$small-desktop-widths: 992px
$small-desktop-widths-max: 1359px
$mobile-widths-only: 639px
$tablet-widths-only-max: 991px
$tablet-widths-only-min: 640px
$min-page-height: 500px
$mobile-height-min: 460px

//1200+ desktop
//992+ small desktop
//640+ tablet
//320+ mobile

//стандарт
//1200+ desktop
//992+ small desktop
//768+ tablet
//320+ mobile

$black: black
$blue: #0698ed
$white: white
$gray: #c9c9c9

$small: 320px
$large: 1024px