// reset for iphone safari inputs fix

input, textarea  
	border-radius: 0 
	-webkit-border-radius: 0px
 
input  
	-webkit-appearance: none 
 
html  
	-webkit-text-size-adjust: 100%
	-moz-text-size-adjust: 100%
	-ms-text-size-adjust: 100%

input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox
	-webkit-appearance: none
	border-radius: 0


// /reset