//.business-card
//	//width: 620px
//	width: 1000px
//	box-shadow: -30px 17px 68px -17px rgba(0,0,0,0.33)
//	padding: 40px 40px
//	background: white
//	background: linear-gradient(53deg, rgb(245, 245, 245) 0%, rgba(255,255,255,1) 100%)
//	display: flex
//	flex-wrap: wrap
//	&__age
//		font-size: 14px
//		line-height: 18px
//		text-transform: none
//		display: block
//		margin-left: 10px
//	&__name
//		color: transparent
//		-webkit-text-stroke-width: 1px
//		-webkit-text-stroke-color: black
//		display: block
//	&__surname
//		display: block
//		margin-left: 5px
//	&__title
//		margin: 0
//		text-transform: uppercase
//		font-weight: 600
//		margin-bottom: 10px
//		padding-bottom: 10px
//		font-size: 34px
//		line-height: 34px
//		position: relative
//		font-family: "Oswald", sans-serif
//		width: 100%
//		display: flex
//		align-items: flex-end
//		&:after
//			content: ""
//			left: 0
//			bottom: 0
//			width: 32px
//			height: 2px
//			position: absolute
//			background: black
//		&-section
//			width: 100%
//			margin-bottom: 30px
//		&-block
//			display: flex
//			width: 100%
//			margin-bottom: 20px
//			align-items: flex-end
//	&__sphere
//		font-size: 14px
//		margin: 0
//		font-weight: 500
//		&-section
//
//	&__info
//		&-item
//			color: inherit
//			text-decoration: none
//			display: flex
//			padding: 0
//			cursor: pointer
//			background: none
//			border: none
//			font-family: "Montserrat", sans-serif
//			&--faded
//				span
//					opacity: 0
//			&:not(:last-child)
//				margin-bottom: 5px
//			&-icon
//				margin-top: 1px
//				width: 20px
//				height: 20px
//				display: block
//				margin-right: 10px
//				flex-shrink: 0
//			&-title
//				font-size: 11px
//				transition: all 0.5s ease-in-out
//
//@media (max-width: 768px)
//	.business-card
//		margin-left: 15px
//		margin-right: 15px
//
//@media (max-width: 400px)
//	.business-card
//		padding: 20px
//		&__subtitle
//			width: auto
//		&__info-section
//			margin-left: 0
//		&__title

.business-card
	//width: 620px
	width: 1000px
	box-shadow: -30px 17px 68px -17px rgba(0,0,0,0.33)
	padding: 60px 80px
	background: white
	background: linear-gradient(53deg, rgb(245, 245, 245) 0%, rgba(255,255,255,1) 100%)
	display: flex
	flex-wrap: wrap
	&__title
		font-size: 65px
		margin-top: 0
		margin-bottom: 0
		line-height: 1.2
		&-block
			padding-bottom: 30px
			border-bottom: 1px solid $gray
			width: 100%
			display: flex
			justify-content: space-between
			align-items: center
	&__sphere
		font-size: 20px
		margin-top: 0
		margin-bottom: 0
		font-weight: 600
		letter-spacing: 0.4px
		padding-left: 3px
	&__info
		&-item
			color: inherit
			text-decoration: none
			display: flex
			padding: 0
			cursor: pointer
			background: none
			border: none
			font-family: "Montserrat", sans-serif
			&--faded
				span
					opacity: 0
			&:not(:last-child)
				margin-bottom: 5px
			&-icon
				margin-top: 1px
				width: 20px
				height: 20px
				display: block
				margin-right: 10px
				flex-shrink: 0
			&-title
				font-size: 11px
				padding-top: 4px
	&__content-section
		display: flex
		width: 100%
		padding-top: 30px
	&__left-column
		width: 300px
		margin-right: 50px
	&__right-column
		width: 50px
		flex-grow: 1
	&__h2
		font-size: 50px
		font-weight: 600
		display: block
		margin-top: 0
		padding-bottom: 15px
		margin-bottom: 20px
		border-bottom: 3px solid $black
	&__h3
		font-size: 20px
		font-weight: 600
		display: block
		margin-top: 0
		margin-bottom: 10px
	&__column-block
		margin-bottom: 30px
	&__paragraph
		margin-top: 0
		display: block
	&__link
		font-weight: 600
		color: inherit