.business-card
	//width: 620px
	width: 1000px
	box-shadow: -30px 17px 68px -17px rgba(0,0,0,0.33)
	padding: 60px 80px
	background: white
	background: linear-gradient(53deg, rgb(245, 245, 245) 0%, rgba(255,255,255,1) 100%)
	display: flex
	flex-wrap: wrap
	&__surname
		color: transparent
		-webkit-text-stroke-width: 1px
		-webkit-text-stroke-color: black
		font-weight: 900
	&__title
		font-size: 65px
		margin-top: 0
		margin-bottom: 0
		line-height: 1.2
		&-block
			padding-bottom: 30px
			border-bottom: 1px solid $gray
			width: 100%
			display: flex
			justify-content: space-between
			align-items: center
	&__sphere
		font-size: 20px
		margin-top: 0
		margin-bottom: 0
		font-weight: 600
		letter-spacing: 0.6px
		padding-left: 3px
	&__info
		&-item
			color: inherit
			text-decoration: none
			display: flex
			padding: 0
			cursor: pointer
			background: none
			border: none
			font-family: "Montserrat", sans-serif
			&--faded
				span
					opacity: 0
			&:not(:last-child)
				margin-bottom: 5px
			&-icon
				margin-top: 1px
				width: 20px
				height: 20px
				display: block
				margin-right: 10px
				flex-shrink: 0
			&-title
				font-size: 12px
				padding-top: 3px
	&__content-section
		display: flex
		width: 100%
		padding-top: 30px
	&__left-column
		width: 300px
		margin-right: 50px
	&__right-column
		width: 50px
		flex-grow: 1
	&__h2
		font-size: 50px
		font-weight: 600
		display: block
		margin-top: 0
		padding-bottom: 15px
		margin-bottom: 20px
		border-bottom: 3px solid $black
	&__h3
		font-size: 20px
		font-weight: 600
		display: block
		margin-top: 0
		margin-bottom: 10px
	&__column-block
		margin-bottom: 30px
	&__paragraph
		margin-top: 0
		display: block
	&__link
		font-weight: 600
		color: inherit


@media (max-width: 1060px)
	.business-card
		width: calc(100% - 60px)
		padding: 40px 60px
		&__title
			&-block
				flex-direction: column
				align-items: flex-start
			&-section
				margin-bottom: 20px
		&__info
			&-section
				display: flex
				flex-wrap: wrap
			&-item
				margin-right: 30px
				margin-bottom: 10px !important
		&__content-section
			flex-direction: column
		&__left-column
			width: 100%
			margin-right: 0
			margin-bottom: 30px
		&__right-column
			width: 100%

@media (max-width: 640px)
	body
		font-size: 14px
	.page-wrapper
		padding-top: 0
		padding-bottom: 0
	.business-card
		width: 100%
		padding: 20px
		&__title
			line-height: 1
			margin-bottom: 10px
			&-section
				margin-bottom: 30px
			&-block
				padding-bottom: 0
				border: none
		&__h2
			font-size: 35px
			padding-bottom: 0
			margin-bottom: 25px
		&__left-column
			margin-bottom: 20px
